SEProjects/SILES/dtd/dialog.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT dialog (starts, points)>
<!ELEMENT starts (start+)>
<!ELEMENT start (point_id, regexp+)>
<!ELEMENT regexp (#PCDATA)>
<!ELEMENT point_id (#PCDATA)>
<!ELEMENT points (point+)>
<!ELEMENT point (id, reaction+, custom?, links?)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT reaction (#PCDATA)>
<!ELEMENT custom (class, input?)>
<!ELEMENT class (#PCDATA)>
<!ELEMENT input (#PCDATA)> 
<!ELEMENT links (link+)>
<!ELEMENT link (regexp+, point_id+)>